{:paths ["src" "resources"]

 :deps
 {applied-science/js-interop {:mvn/version "0.2.7"}
  mhuebert/kitchen-async     {:mvn/version "0.1.0"}
  lambdaisland/dom-types     {:sha     "4c35f25ba4446a4b2c29b349ddc4ba1e353d3b9e"
                              :git/url "https://github.com/lambdaisland/dom-types"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {thheller/shadow-cljs {:mvn/version "2.11.14"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.732"}}}}}
