{:deps
 {:aliases [:dev]}

 :dev-http
 {8008 "classpath:public"}

 :builds
 {:main
  {:target     :browser
   :modules    {:main {:entries [#_puck-demo.pacman
                                 puck-demo.circle-packing]}}
   :output-dir "resources/public/ui"
   :asset-path "/ui"
   :devtools   {:infer-externs :auto
                :repl-pprint true
                :warnings-as-errors #{:undeclared-var}
                :after-load spel.core/on-hot-reload}}}}
